.footer,
.footer-contato,
.footer-contato-info,
.footer-contato-info-detalhes,
.footer-informacoes {
  display: grid;
}

.footer {
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  padding-top: var(--spacing-60px);
  gap: var(--spacing-40px);
}

.footer-contato,
.footer-contato-info {
  gap: var(--spacing-32px);
  place-content: start;
}

.footer-contato-info-detalhes {
  position: relative;
}

.footer-contato-info-detalhes::after {
  content: '';
  width: 100%;
  height: 0.7px;
  background-color: var(--primary-color-p1);
  position: absolute;
  bottom: -16px;
}

.footer-contato-info-detalhes div {
  display: flex;
  gap: 8px;
}

.footer-contato-redes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-32px);
  min-height: 32px;
  position: relative;
}

.footer-contato-redes::after {
  content: '';
  width: 80%;
  height: 0.7px;
  background-color: var(--primary-color-p1);
  position: absolute;
  bottom: -16px;
}

.footer-contato-redes img {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.footer-contato-redes img:hover {
  width: 32px;
  height: 32px;
}

.footer-funcionamento {
  margin-top: var(--spacing-32px);
}

.footer-funcionamento span {
  display: block;
}

.footer-funcionamento span + span {
  margin-top: 4px;
}

.footer-informacoes {
  gap: var(--spacing-32px);
  place-content: start;
  justify-self: center;
}

.footer-informacoes a,
.footer-contato-info-detalhes a {
  color: inherit;
}

.footer-informacoes a:hover,
.footer-contato-info-detalhes a:hover {
  color: #caa572;
}

.footer-informacoes li + li {
  margin-top: 4px;
}

.footer-direitos p {
  word-break: break-word;
}

@media (max-width: 1024px) {
  .footer > a {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .footer-contato-redes::after {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .footer-informacoes li + li {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
  }

  .footer-informacoes {
    justify-self: flex-start;
  }
}

@media (max-width: 576px) {
  .footer {
    grid-template-columns: 1fr;
    padding-top: var(--spacing-40px);
  }

  .footer > a {
    display: block;
  }

  .footer > a img {
    max-width: 75px;
  }
}

@media (max-width: 380px) {
  .footer-funcionamento span {
    font-weight: 500;
  }
}
