@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@400;500;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
p,
dd,
blockquote {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.secao-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.secao-titulo img {
  position: absolute;
  bottom: -2rem;
}

.secao-titulo h2 {
  text-align: center;
}

@media (max-width: 576px) {
  .secao-titulo img {
    width: 140px;
  }
}

@media (max-width: 360px) {
  .secao-titulo img {
    width: 120px;
    bottom: -1.5rem;
  }
}

/* CSS DO PLUGIN DATA-ANIME 

 CSS personalizado dependendo da animação desejada
Devem ser adicionadas na frente do código essencial do item 7.
*/
.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

/* 7 Adicione o CSS Essencial abaixo */
[data-anime] {
  opacity: 0;
}
.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
