[data-menu='button'] {
  display: none;
}

@media (max-width: 768px) {
  [data-menu='button'] {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  [data-menu='button']::before {
    margin-right: 4px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    /* Até acima cria um único tracinho branco ao lado do MENU */

    /* Esse Box-Shadow é um trick para criar um "sombra" em baixo e em cima do tracinho que irá formar dois novos traços, pois está sem "blur" */
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform 0.3s;
  }

  /* Rotaciona os tracinhos */
  [data-menu='button'].active::before {
    transform: rotate(90deg);
  }

  /* [data-menu='list'] { */
  #menu[data-menu='list'] {
    display: none;
    position: absolute;
    /* background: #3f2217; */
    background: linear-gradient(45deg, #3f2217, transparent);
    width: 160px;
    z-index: 200;
    top: 0;
    padding: 60px 20px 20px 20px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  #menu[data-menu='list'].active {
    display: block;
    /* animação criada no css Geral */
    animation: show-right 0.4s forwards;
  }
  .dropdown-menu {
    position: static;
    border: none;
  }
}
