/*  64/68 - Light */
.font-2-xxl {
  font: 300 4rem/4.25rem 'Josefin Sans', sans-serif;
}

/* 64/68 - Bold*/
/* .font-1-xxl {
  font: 700 4rem/4.25rem 'Poppins', sans-serif;
} */

/* Min - 36 ; Max: 64  */

.font-1-xxl {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: clamp(2.25rem, 10vw, 4rem);
  line-height: clamp(106.25%, 110%, 130%);
}

/* 40/48 - Semibold*/
.font-1-xl {
  font: 600 2.5rem/3rem 'Poppins', sans-serif;
}

/* 32/40 - Semibold */
.font-1-l-b {
  font: 600 2rem/2.5rem 'Poppins', sans-serif;
}

/* 32/40 - Medium*/
.font-1-l {
  font: 500 2rem/2.5rem 'Poppins', sans-serif;
}

/* 24/32 - Medium */
.font-1-m2-b {
  font: 500 1.5rem/2rem 'Poppins', sans-serif;
  letter-spacing: 0.015em;
}
/* 24/32 - Regular */
.font-1-m2 {
  font: 400 1.5rem/2rem 'Poppins', sans-serif;
}

/* 20/28 - Semibold */
.font-1-m-c {
  font: 600 1.25rem/1.75rem 'Poppins', sans-serif;
}

/* 20/28 - Medium */
.font-1-m-b {
  font: 500 1.25rem/1.75rem 'Poppins', sans-serif;
}

/* 20/28 - Regular */
.font-1-m {
  font: 400 1.25rem/1.75rem 'Poppins', sans-serif;
}

/* 18/24 - Semibold */
.font-1-s-c {
  font: 600 1.125rem/2rem 'Poppins', sans-serif;
  letter-spacing: 0.015em;
}

/* 18/24 - Medium */
.font-1-s-b {
  font: 500 1.125rem/2rem 'Poppins', sans-serif;
  letter-spacing: 0.015em;
}

/* 18/24 - Regular */
.font-1-s {
  font: 400 1.125rem/2rem 'Poppins', sans-serif;
  letter-spacing: 0.015em;
}

/* 16/24 - Semibold */
.font-1-xs-c {
  font: 600 1rem/1.5rem 'Poppins', sans-serif;
}

/* 16/24 - Medium */
.font-1-xs-b {
  font: 500 1rem/1.5rem 'Poppins', sans-serif;
}

/* 16/24 - Regular */
.font-1-xs {
  font: 400 1rem/1.5rem 'Poppins', sans-serif;
}

/* 12/16 - Regular */
.font-1-xxs {
  font: 400 0.75rem/1rem 'Poppins', sans-serif;
}

/* Breakpoints for fonts */

/* // Dispositivos large (desktops com menos de 1200px) */
@media (max-width: 1200px) {
  /* 18px */
  .font-1-m,
  .font-1-m-b,
  .font-1-m-c {
    font-size: 1.125rem;
  }
}

/* // Dispositivos médios (tablets com menos de 992px) */
@media (max-width: 992px) {
}

/* // Dispositivos small (telefones em modo paisagem, com menos de 768px) */
@media (max-width: 768px) {
  /* 20/28*/
  .font-1-m2-b,
  .font-1-m2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* // Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 576px) {
  .font-2-xxl {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

@media (max-width: 360px) {
  /* 16px */
  .font-1-m,
  .font-1-m-b,
  .font-1-m-c {
    font-size: 1rem;
  }

  .font-2-xxl {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
