:root {
  /* Var Colors */
  --primary-color-p1: #fffaf7;
  --primary-color-p2: #ffe9dc;
  --primary-color-p3: #734230;
  --primary-color-p4: #3f2217;
  --primary-color-p5: #311d16;

  --secondary-color-c0: #fabb24;
  --secondary-color-c1: #eea800;
  --secondary-color-c2: #d29400;
  --secondary-color-c3: #d27d00;

  --color-white: #fff;

  /* Var Spacing */
  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-16px: 1rem;
  --spacing-20px: 1.25rem;
  --spacing-24px: 1.5rem;
  --spacing-28px: 1.75rem;
  --spacing-32px: 2rem;
  --spacing-36px: 2.25rem;
  --spacing-40px: 2.5rem;
  --spacing-48px: 3rem;
  --spacing-60px: 3.75rem;
  --spacing-72px: 4.5rem;
  --spacing-80px: 5rem;
  --spacing-120px: 7.5rem;
  --spacing-160px: 10rem;
  --spacing-200px: 12.5rem;
  --spacing-240px: 15rem;
  --spacing-280px: 17.5rem;
}

/* Colors */
.color-white {
  color: #fff;
}

.color-s1 {
  color: #a67d3d;
}

.color-s2 {
  color: #595959;
}

.color-s3 {
  color: #111111;
}

.color-p1 {
  color: var(--primary-color-p1);
}
.color-p2 {
  color: var(--primary-color-p2);
}
.color-p3 {
  color: var(--primary-color-p3);
}
.color-p4 {
  color: var(--primary-color-p4);
}
.color-p5 {
  color: var(--primary-color-p5);
}

.color-c0 {
  color: var(--secondary-color-c0);
}
.color-c1 {
  color: var(--secondary-color-c1);
}
.color-c2 {
  color: var(--secondary-color-c2);
}
.color-c3 {
  color: var(--secondary-color-c3);
}

.gradient {
  background: linear-gradient(#fabb24, #eea800);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
/* End Colors */

/* Components */
.style-btn {
  padding: 1rem 2rem;
  background: linear-gradient(180deg, rgba(115, 66, 48, 0.7) 0%, #734230 100%);
  border: 1px solid #734230;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.style-btn:hover {
  background: linear-gradient(180deg, #3f2217 0%, #734230 100%);
}

.style-btn-2 {
  padding: 1rem 2rem;
  background-color: var(--primary-color-p2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: var(--primary-color-p3);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.style-btn-2:hover {
  background: #caa572;
}

.style-btn-3 {
  padding: 1rem 2rem;
  background-color: #010101;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ededed;
  /* text-transform: uppercase; */
  border: none;
  cursor: pointer;
}

.style-btn-3:hover {
  background: #404040;
  color: #fff;
}

.bg-color-p4 {
  background-color: var(--primary-color-p4);
}

.bg-color-p3 {
  background-color: var(--primary-color-p3);
}

.bg-color-p1 {
  background-color: var(--primary-color-p1);
}

.bg-color-p0 {
  background-color: var(--color-white);
}

.max-col-width {
  grid-column: 1/-1;
}

.underline {
  text-decoration-line: underline;
}

/* End Components */

/* Containers */
.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: var(--spacing-20px);
}

@media (max-width: 992px) {
  .style-btn,
  .style-btn-2,
  .style-btn-3 {
    padding: 0.75rem 1.5rem;
  }
}
